extends ../layouts/main-layout.pug

block content
    if (action !== 'undefined' && action === 'delete')
        div.alert.alert-danger The product has been deleted.

    if (action !== 'undefined' && action === 'edit')
        div.alert.alert-success The product has been updated.
    
    if user.length > 0
        table.table.table-bordered
            thead
                tr
                    th Username
                    th Password
                    th Email
                    th Auth

            tbody
                each users in user
                    tr
                        td #{users.username}
                        td #{users.password}
                        td #{users.email}
                        td #{users.auth}
                        
                        td
                            if users.username != 'root'
                                a.btn.btn-primary.btn-sm.mr-2(href=`/admin/user/${users._id}`) Edit
                                
                                form(action='/admin/usersil' method='POST')
                                    input(type='hidden' name='userId' value=`${users._id}`)
                                    button(type='submit').btn.btn-danger.btn-sm Delete
    else
        h1 No User